.mainContainer {
  width: 100%;
  background-color: #f3f3f3;
  padding: 64px;
}

.content {
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.33;
  color: #de0017;
}

.profileImageBox {
  flex: 0 1 442px;
  display: flex;
  flex-direction: column;
  padding: 45px;
}

.descriptionBox {
  flex: 1 0 50%;
  margin-left: 77px;
  height: 500px;

  .text {
    max-height: 50%;
    font-size: 25px;
    line-height: 2;
    color: #000;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .title {
    font-size: 35px;
    margin-bottom: unset;
  }

  .venueType {
    font-size: 23px;
    color: #dd0016;
  }

  .addressBox {
    font-size: 30px;
  }

  .infoBox {
    flex: 0 1 442px;
    padding: 0 32px 50px 20px;
    margin-top: 40px;
  }
}
