.mainContent {
  display: flex;
  flex-direction: row;
  padding: 70px 15px 30px 15px;

  @media screen and (min-width: 600px) {
    padding: 70px 40px 30px 40px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 100vh;
  max-width: 100%;

  @media only screen and (min-width: 1200px) {
    margin: 58px 114px auto auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.logoContainer {
  width: 255px;
  margin: auto;
}

.signupFormContainer {
  display: flex;
  flex-direction: column;
  padding: 37px 0 0;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #616161;
  background-color: #fff;
  margin-top: 33px;
  margin-bottom: 90px;
  max-width: 100%;

  @media only screen and (min-width: 768px) {
    width: 706px;
  }

  .formHeading {
    display: block;
    font-size: 27px;
    line-height: 1.74;
    letter-spacing: 0.27px;
    color: #000;
    font-weight: lighter;
    margin: 0 auto;

    &.red {
      font-weight: bold;
      color: #d32531;
    }
  }
}

.form {
  padding: 0 30px 34px 30px;

  @media only screen and (min-width: 768px) {
    padding: 0 60px 34px 60px;
  }
}

.termsAndConditions {
  opacity: 0.29;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000;
  margin-top: 23px;
}

.greyRectangle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 97px;
  padding: 20px 15px;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e4e4e4;
  background-color: rgb(203, 203, 203);

  @media only screen and (min-width: 768px) {
    padding: 0 60px 34px 60px;
  }
}

.alreadyAMember {
  margin: auto 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 2.83;
  letter-spacing: 0.23px;
  color: rgb(106, 106, 106);

  @media only screen and (min-width: 768px) {
    padding: 0 60px 34px 60px;
  }
}
