<% csrf_token = form_authenticity_token %>

<div class="background signup-bg">
  <div class="bgLogoContainer">
    <%= image_tag("logo_white.png") %>
  </div>
  <%= react_component("Signup/index", { token: csrf_token }) %>
</div>
