.formContainer {
  padding: 37px 0 0;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border: solid 1px #616161;
  margin: 50px 20px;
  width: 90%;

  @media only screen and (min-width: 1200px) {
    width: 1080px;
    margin: auto auto 90px auto;
  }

  h1 {
    font-size: 22px;
    color: #d32531;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;

    @media only screen and (min-width: 1200px) {
      font-size: 27px;
      line-height: 1.74;
      letter-spacing: 0.27px;
    }
  }

  span {
    font-size: 12px;
    line-height: 1.94;
    text-align: center;
    color: #000;
    margin: 0 25px;

    @media only screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }

  .form {
    padding: 20px;

    label {
      font-size: 20px;

      @media only screen and (min-width: 1200px) {
        font-size: 25px;
      }
    }
  }
}
