.header {
  display: flex;
  flex-direction: row;
  height: 120px;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #a0a0a0;
  background-color: #fff;
  padding: 0 120px 0 60px;

  @media screen and (max-width: 1024px) {
    padding: 0 10px;
  }
}

.logo {
  height: 100px;
  margin: auto auto auto 0;
}

.profilePhoto {
  margin: auto 0 auto auto;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.quickLink {
  font-size: medium;
  padding: 0 2px;
}

.quickLink:hover,
.profilePhoto:hover,
.logo:hover {
  text-decoration: underline;
  cursor: pointer;
}
