.pageContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 58px auto auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.logoContainer {
  width: 255px;
  margin: auto;
}

.signupFormContainer {
  display: flex;
  flex-direction: column;
  padding: 37px 0 0;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #616161;
  background-color: #fff;
  margin-top: 33px;
  width: 706px;

  span {
    font-size: 27px;
    line-height: 1.74;
    letter-spacing: 0.27px;
    color: #000;
    margin: 0 auto;
    font-weight: bold;

    &.red {
      color: #d32531;
    }
  }

  .form {
    padding: 0 60px 60px 60px;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  margin-top: 85px;
  height: min-content;
}

.headerItem {
  display: flex;
  flex: 1 1 33%;
  margin: auto;
  justify-content: center;
}
