.header {
  margin: 85px auto 0 auto;
  flex-direction: column;

  @media only screen and (min-width: 1200px) {
    margin: 85px 80px 0 160px;
    flex-direction: row;
  }
}

.bold {
  font-weight: bold;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
  margin: auto;
  font-size: 1.2rem;
}

.text {
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
  font-size: 1.2rem;
}

.banner {
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 80px;

  .h1 {
    display: block;
    font-size: 62px;
    margin: 0;
    font-weight: bold;
  }

  .h2 {
    display: block;
    font-size: 35px;
    margin: 0;
  }
}

.searchBarContainer {
  margin: auto 60px;
  width: calc(100% - 120px);

  @media only screen and (min-width: 1200px) {
    margin: auto;
    width: 1080px;
  }
}
