<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spiker Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <h1>Message from Spiker booking,</h1>
  <p>
  <%= @user_profile_name %> has successfully signed up to spikerbooking.com,
    Using Email: <%= @user.email %>
    As: <%= @profile_type %>.<br>
  </p>
  <p>Thanks for your time!</p>
  </body>
</html>
