.mainContainer {
  width: 100%;
  background-color: #f3f3f3;
  padding: 64px;

  @media screen and (max-width: 1166px) {
    padding: 10px;
  }
}

.content {
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.33;
  color: #de0017;
}

.profileImageBox {
  flex: 0 1 442px;
  display: flex;
  flex-direction: column;
  padding: 45px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dadbe6;
  background-color: #fff;
  margin: 0 auto;
}

.biographyBox {
  flex: 1 0 50%;
  margin-left: 77px;
  height: 500px;

  @media screen and (max-width: 1023px) {
    flex: auto;
    margin-left: unset;
    max-height: min-content;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1166px) {
    margin-left: 30px;
  }

  .text {
    height: 80%;
    font-size: 25px;
    line-height: 2;
    color: #000;
    overflow-x: scroll;
  }

  .title {
    font-size: 35px;
  }
}

.infoBox {
  flex: 0 1 442px;
  padding: 0 32px 50px 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dadbe6;
  background-color: #fff;
  margin-top: 40px;

  @media screen and (max-width: 1023px) {
    flex: auto;
  }
}

.imagesBox {
  flex: 1 0 50%;
  margin-top: 40px;
  margin-left: 77px;
  max-height: 500px;
  overflow-x: scroll;

  @media screen and (max-width: 1023px) {
    flex: auto;
    margin-left: unset;
  }

  @media screen and (min-width: 1024px) and (max-width: 1166px) {
    margin-left: 30px;
  }
}
