.signup-bg {
  background: image-url('signup_bg@3x.jpg') no-repeat fixed center center;
  background-color: #730e15;
  background-size: cover;
}

.login-bg {
  background: image-url('login_bg@3x.jpg') no-repeat fixed center center;
  background-color: #730e15;
  background-size: cover;
}
