// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-bg {
  background: image-url('homepage_bg@3x.jpg') no-repeat fixed center center;
  background-color: #730e15;
  background-size: cover;
}
